<nav class="navbar navbar-expand-lg bg-primary  " style="width: 100%;  z-index: 1000;">
    <div class="container-fluid">
        <a class="navbar-brand ms-lg-5 fw-bold font-awesome fs-2" routerLink="main/home"
            style="color:  #ffffff;">Parking Space Finder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold text-light">
                <button class="btn btn- ms-lg-3 me-5 text-white fw-bold border-white" routerLink="/"
                    style="color: #ffffff;"><i class="fa-solid fa-house"></i> Home</button>
            </ul>
        </div>
    </div>
</nav>
<!-- Register landing page -->

  <!--  Register form -->
  <div  class="container">
    <div class="row">
      
      <div class="col-8 mb-3">
        <!-- Register-form -->
        <form [formGroup]="changepsForm"  (ngSubmit)="change()" class="mt-5 border px-5 mx-3 rounded shadow" enctype="multipart/form-data">
          <h3 class="text-primary text-center my-3">Add Parkzone</h3>
          <!-- firstname input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example1">Old_Paswword</label>
            <input name="old_password" formControlName="old_password" type="password" id="form1Example1" class="form-control" required>
           
          </div>
          <!-- last Name input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example2">new_password</label>
            <input name="new_password" formControlName="new_password" type="password" id="form1Example2" class="form-control" />
          
          </div>
         
        <div class="form-outline mb-4">
            <label class="form-label" for="form1Example4">Confirm Password</label>
            <input name="confirm_password" formControlName="confirm_password" type="password" id="form1Example4" class="form-control" />
          </div>
          <div class="text-center">
            
            <button type="submit" class="btn btn-primary btn-block mb-2">Submit</button>
            
          </div>
        </form>
      </div>
    </div>
  </div>
<!-- <app-footer></app-footer> -->