<nav class="navbar navbar-expand-lg bg-primary  " style="width: 100%;  z-index: 1000;">
    <div class="container-fluid">
        <a class="navbar-brand ms-lg-5 fw-bold font-awesome fs-2" routerLink="main/home"
            style="color:  #ffffff;">Parking Space Finder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold text-light">
                <button class="btn btn- ms-lg-3 me-5 text-white fw-bold border-white" routerLink="/table"
                    style="color: #ffffff;"><i class="fa-solid fa-house"></i> Home</button>
            </ul>
        </div>
    </div>
</nav>

<h1 class="text-center mt-3" style="letter-spacing: 1px; font-weight: bold;">Parkzones</h1>

<div class="row justify-content-center" style="padding: 20px;">
    <div *ngFor="let zone of zones" class="col-md-4">
        <div class="card mt-4">
            <div class="card-body">
                <a [routerLink]="'/viewbooking/' + zone.id" style="text-decoration: none;">
                <div class="text-center">
                    <img *ngIf="zone.vehicle_type === 'car'" class="rounded-circle" src="assets/4.jpeg" alt="Profile Image" style="height: 200px; width: 200px;">
                    <img *ngIf="zone.vehicle_type === 'bike'" class="rounded-circle" src="assets/bike.avif" alt="Profile Image" style="height: 200px; width: 200px;">
                    <img *ngIf="zone.vehicle_type === 'heavy'" class="rounded-circle" src="assets/heavy.png" alt="Profile Image" style="height: 200px; width: 200px;">
                
                </div>
                <div class="text-center mt-3">
                    <h5 class="card-title" style="color: black;">{{ zone.name }}</h5>
                    <p class="card-text">{{ zone.owner }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Total Slots:</strong> {{ zone.total_slots }}</li>
                    <li class="list-group-item"><strong>Vacant Slots:</strong> {{ zone.vacant_slots }}</li>
                    <li class="list-group-item"><strong>Occupied Slots:</strong> {{ zone.occupied_slots }}</li>
                    <li class="list-group-item"><strong>Price:</strong> {{ zone.price }}</li>
                    <li class="list-group-item"><strong>State:</strong> {{ zone.state_name }}</li>
                    <li class="list-group-item"><strong>District:</strong> {{ zone.district_name }}</li>
                    <li class="list-group-item"><strong>Location:</strong> {{ zone.location_name }}</li>
                    <li class="list-group-item"><strong>Vehicle Type:</strong> {{ zone.vehicle_type }}</li>
                </ul>
                <div class="text-center mt-3">
                    <button class="btn btn-success " [routerLink]="'/updatezone/' + zone.id" style="margin-right: 5px;">Update</button>
                    <button class="btn btn-primary" [routerLink]="'/viewfeedback/' + zone.id">Feedbacks</button>
                </div>
            </a>
            </div>
        </div>
    </div>
</div>
