
<nav class="navbar navbar-expand-lg bg-primary  " style="width: 100%;  z-index: 1000;">
 <a href="profile" > <img class="rounded-circle  mt-1" src="assets/demo.png" alt=""  height="60px"  width="60px" style="background-color: white;margin-left: 5px;"></a>
  <div class="container-fluid">
    <a class="navbar-brand ms-lg-5 fw-bold font-awesome fs-2" routerLink="mechanichome" style="color:  ffffff;">Parking
      Space - <span >Mechanics</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold text-light">
        <button class="btn btn- ms-lg-3 me-5 text-white fw-bold border-white" routerLink="/parkzone" style="color: ffffff;">
             Parkzones</button>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold text-light">
        <button class="btn btn- ms-lg-3 me-5 text-white fw-bold border-white" routerLink="/booked" style="color: ffffff;">
            Add Profile</button>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold text-light">
        <button class="btn btn- ms-lg-3 me-5 text-white fw-bold border-white" routerLink="/payslip" style="color: ffffff;">
            Requests</button>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold text-light">
        <button class="btn btn- ms-lg-3 me-5 text-white fw-bold border-white" routerLink="/history" style="color: ffffff;">
            History</button>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold text-light">
        <button class="btn btn- ms-lg-3 me-5 text-white fw-bold border-white" routerLink="/changepsuser" style="color: ffffff;">
            Change Password</button>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold text-light">
        <button class="btn btn- ms-lg-3 me-5 text-white fw-bold border-white" routerLink="" style="color: ffffff;"><i
            class="fa-solid fa-logout"></i> Log Out</button>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4 p-4">
  <div class="row">
      <div class="col-6">
          <!-- image -->
          <img class="mt-4 " width="100%" height="400px" src="\assets\mech.jpg" style="border-radius: 0.75rem;" alt="">
      </div>
      <div class="col-6 mt-5 ml-4">
          <!-- heading and texts -->
          <h1>Welcome To Parking Space Finder  </h1>
          <p style="text-align: justify;"> Welcome to our Parked Vehicle Hub, where convenience meets efficiency. Explore a vast array of listings, seamlessly manage your vehicles, and connect with a community passionate about parking solutions.
            With intuitive tools and comprehensive support, we're here to simplify your parking experience. Join us today and discover a smarter way to park.
           
      </div>
  </div>
</div>


<app-footer></app-footer>